@import "variablse.css";

/* ==============RESER-CSS=================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* =============================== */

body {
  height: 100vh;
  font-family: var(--ff-main);
  color: var(--color-main);
}

/* ============================= */

.wrapper {
  min-height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  padding-top: 34px;
  flex-direction: column;
}

/* =================================== */

[class*="__container"] {
  max-width: 1374px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  min-height: 47px;
  color: var(--color-title);
  font-weight: 600;
}

.header__container {
}

.header-logo {
  display: inline-block;
  margin-right: auto;
  width: 151px;
  height: 47px;
}
.header-logo__img {
  height: inherit;
}
.header__nav {
}
.header-nav {
}
.header-nav__menu {
}

.nav-menu {
  display: flex;
  gap: 40px;
  margin-right: 64px;
}

.nav-menu__item {
}
.nav-menu__link {
}

.nav-menu__link_active {
  color: var(--color-main);
}

.header__btn {
  width: 97px;
  height: 32px;
  background: var(--bg-more);
  border-radius: 15px 0;
  border: 2px solid var(--bg-more);
  color: var(--color-more);
  transition: all ease-in-out 0.28s;
}

.header__btn:hover {
  cursor: pointer;
  background: var(--color-more);
  color: var(--bg-more);
  box-shadow: -5px 5px 5px var(--bg-more);
}

.header__btn:active {
  transform: translate(-1px, 1px);
  box-shadow: none;
}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (width < 576px) {
}
