@import "variablse.css";
/* ==============RESET-CSS=================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* =============================== */
body {
  height: 100vh;
  font-family: var(--ff-main);
  color: var(--color-main);
}
/* ============================= */
.wrapper {
  min-height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  padding-top: 34px;
  flex-direction: column;
}
/* =================================== */
[class*="__container"] {
  max-width: 1374px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
/* ======================= */
.project__pattern {
  display: none;
}
.decbase-btn {
  background: var(--bg-btn);
  border-radius: 20px 0;
  color: var(--color-more);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;
  border: 2px solid var(--bg-btn);
  transition: all ease-in-out 0.28s;
}
.decbase-btn:hover {
  cursor: pointer;
  background: var(--color-more);
  color: var(--bg-btn);
  box-shadow: 5px 5px 5px var(--bg-btn);
}
.decbase-btn:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}
/* ============================= */
.header {
  display: flex;
  column-gap: 30px;
  align-items: center;
  min-height: 47px;
  color: var(--color-title);
  font-weight: 600;
  margin-bottom: 107px;
}
.header__container {
}
.header-logo {
  display: inline-block;
  margin-right: auto;
  width: 151px;
  height: 47px;
}
.header-logo__img {
  height: inherit;
}
.header__nav {
}
.header-nav {
}
.header-nav__menu {
}
.nav-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px 40px;
  margin-right: 64px;
}
#menu {
  display: none;
}
.nav-menu__item {
}
.nav-menu__link {
  position: relative;
  transition: all ease-in-out 0.28s;
  cursor: default;
  text-transform: uppercase;
}
.nav-menu__link:not(.nav-menu__link_active):hover {
  cursor: pointer;
}
.nav-menu__link:not(.nav-menu__link_active)::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-title);
  transition: all ease-in-out 0.28s;
}
.nav-menu__link:hover::before {
  width: 100%;
}
.nav-menu__link_active {
  color: var(--color-main);
}
.header__btn {
  width: 97px;
  height: 32px;
  background: var(--bg-more);
  border-radius: 15px 0;
  border: 2px solid var(--bg-more);
  color: var(--color-more);
  transition: all ease-in-out 0.28s;
}
.header__btn:hover {
  cursor: pointer;
  background: var(--color-more);
  color: var(--bg-more);
  box-shadow: -5px 5px 5px var(--bg-more);
}
.header__btn:active {
  transform: translate(-1px, 1px);
  box-shadow: none;
}
/* ==========PROJECT============= */
.project {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  min-height: 659px;
  margin-bottom: 126px;
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 613px;
}
.project-info__subtitle {
  text-transform: uppercase;
  color: var(--color-main);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.project-info__title {
  color: var(--color-title);
  font-size: 72px;
  font-family: var(--ff-more);
  font-weight: 600;
  line-height: 1.08;
  margin-bottom: 23px;
}
.project-info__text {
  color: var(--color-main);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 28px;
}
.project-info__button {
  align-self: baseline;
  min-width: 142px;
}
.project-img {
  position: relative;
  flex: 1 1 700px;
  height: 626px;
  border-radius: 140px 0;
  margin-right: 34px;
}
.project-img::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 34px;
  top: 33px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 2px solid #b0855b;
}
.project-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}
/* ============-SERVICE-=============== */
.service:not(:last-child) {
  margin-bottom: 200px;
}
.service__subtitle {
  font-family: var(--ff-more);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.service__title {
  font-family: var(--ff-more);
  color: var(--color-title);
  font-size: 48px;
  font-weight: 500;
  line-height: 78px;
}
.service__slider {
}
.service__slider {
  width: 100%;
  height: auto;
  padding: 80px 10px;
}
.swiper-button-block {
  position: absolute;
  top: 0;
  right: 30px;
  width: 78px;
  height: 60px;
}
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #37806b;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.28s;
}
.swiper-button-prev img,
.swiper-button-next img {
  width: 8px;
  height: 10px;
  filter: brightness(0) saturate(100%) invert(97%) sepia(25%) saturate(0%)
    hue-rotate(18deg) brightness(116%) contrast(100%);
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  background: #fff;
}
.swiper-button-next.swiper-button-disabled img,
.swiper-button-prev.swiper-button-disabled img {
  filter: none;
}
.swiper-button-next img {
  transform: rotate(180deg);
}
.swiper-button-prev {
  left: 0;
  bottom: 0;
}
.swiper-button-next {
  right: 0;
  bottom: 0;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.service__swiper-wrapper {
}
.service__swiper-wrapper .swiper-slide-active {
  background: var(--bg-more);
  color: var(--color-more);
}
.service__swiper-wrapper .swiper-slide-active .service-slide__info_title {
  color: var(--color-more);
}
.service__swiper-wrapper .swiper-slide-active .service-slide__img img {
  filter: invert(99%) sepia(2%) saturate(0%) hue-rotate(180deg) brightness(116%)
    contrast(100%);
}
.service__swiper-slide {
}
.service__swiper-slide {
  border-radius: 60px 0;
  min-height: 193px;
  height: auto;
  background: #fff;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 21px;
}
.service-slide__img {
  align-self: flex-start;
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 21px;
}
.service-slide__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.service-slide__info {
  flex: 0 1 307px;
}
.service-slide__info_title {
  color: var(--color-title);
  font-size: 24px;
  font-weight: 700;
}
.service-slide__info_text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.18px;
}
/* ===========-ABOUT-============= */
.about {
  display: flex;
  justify-content: space-between;
  min-height: 758px;
  gap: 93px;
}
.about:not(:last-child) {
  margin-bottom: 224px;
}
.about-img {
  flex: 1 1 681px;
  border-radius: 140px 0;
  position: relative;
  height: 726px;
  margin-top: 32px;
  margin-left: 36px;
}
.about-img::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  bottom: 32px;
  right: 36px;
  width: 100%;
  height: 100%;
  border: 2px solid #b0855b;
}
.about-img img {
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-info {
  flex: 1 1 544px;
  align-self: center;
}
.about-info__subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.about-info__title {
  color: var(--color-title);
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  margin-bottom: 22px;
}
.about-info__text {
  flex: 1 1 544px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 28px;
}
.about-info__btn {
  font-size: 16px;
  max-width: 143px;
  min-height: 43px;
  width: 100%;
}
/* ---MARKET--- */
.market {
  display: flex;
  gap: 109px;
  min-height: 754px;
  margin-bottom: 177px;
}
.market-info {
  flex: 1 1 528px;
  align-self: center;
}
.market-info__years {
  margin-bottom: 20px;
}
.market-info__title {
  color: var(--color-title);
  font-family: var(--ff-more);
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 2px;
  margin-bottom: 17px;
}
.market-info__btn {
  max-width: 143px;
  width: 100%;
  min-height: 43px;
}
.market-img {
  flex: 1 1 682px;
  position: relative;
  border-radius: 140px 0;
  height: 726px;
  margin-right: 31px;
  margin-bottom: 28px;
}
.market-img::before {
  position: absolute;
  content: "";
  z-index: -5;
  left: 31px;
  top: 28px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 2px solid #b0855b;
}
.market-img img {
  position: absolute;
  border-radius: inherit;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
}
/* ---WORK--- */
.work {
  background: #f8f8f8;
}
.work:not(:last-child) {
  margin-bottom: 163px;
}
.work-block {
  display: flex;
  flex-direction: column;
  row-gap: 87px;
  min-height: 677px;
  padding: 87px 10px;
}
.work-block__title {
  align-self: center;
  max-width: 821px;
  width: 100%;
  color: var(--color-title);
  font-family: var(--ff-more);
  font-size: 48px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
}
.work-block__info {
}
.work-info {
  display: flex;
  justify-content: space-between;
  min-height: 278px;
}
.work-info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 185px;
  min-height: 182px;
  background: #fff;
  border-radius: 40px 0;
}
.work-info__item_start {
  align-self: flex-start;
}
.work-info__item_end {
  align-self: flex-end;
}
.work-info__item_number {
  color: var(--color-title);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}
.work-info__item_title {
  color: var(--color-main);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.67;
}
/* ---REVIEWS--- */
.reviews {
}
.reviews-block {
}
.reviews__contaier {
}
.reviews-block__subtitle {
  font-family: var(--ff-more);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.reviews-block__title {
  font-family: var(--ff-more);
  color: var(--color-title);
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}
.reviews-slider {
  max-width: 1374px;
  padding-top: 85px;
  height: auto;
}
.swiper {
}
.swiper-wrapper {
}
.reviews-slider-wrapper {
}
.reviews-slider__slide {
}
.reviews-slide {
  padding: 35px 35px 35px 69px;
  height: auto;
}
.reviews-slide-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
  min-height: 226px;
  height: 100%;
  padding: 25px 15px 10px 99px;
  border-radius: 70px 0;
  background: #fff;
  box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
}
.reviews-slide__icon {
  position: absolute;
  width: 130px;
  height: 131px;
  border-radius: 35px 0;
  left: -61px;
  top: 37px;
}
.reviews-slide__title {
  position: relative;
  color: var(--color-title);
  font-size: 24px;
  font-weight: 700;
  padding-right: 70px;
}
.reviews-slide__title span {
  color: var(--color-main);
  font-size: 16px;
  font-weight: 400;
}
.reviews-slide__text {
  font-size: 18px;
  line-height: 1.56;
}
.reviews-slide__brackets {
  position: absolute;
  top: -7px;
  right: 20px;
  display: inline-block;
  margin-left: 15px;
}
/* ---SECTION BLOG--- */
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f8f8f8;
  min-height: 1021px;
}
.blog-wrapper {
}
.blog__container {
}
.blog__subtitle {
  text-transform: uppercase;
  font-family: var(--ff-more);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 21px;
}
.blog__title {
  color: #111;
  font-family: var(--ff-more);
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 83px;
  text-align: center;
}
.blog__items {
  display: flex;
  justify-content: space-between;
  column-gap: 153px;
  row-gap: 60px;
}
.blog__item {
}
.blog-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 569px;
}
.blog-item__img {
  position: relative;
  width: calc(100% - 16px);
  height: 387px;
  margin-bottom: 17px;
  border-radius: 100px 0;
  margin-bottom: 43px;
}
.blog-item__img img {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.blog-item__img::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 17px;
  width: 100%;
  height: 100%;
  border: 2px solid #b0855b;
  border-radius: inherit;
}
.blog-item__title {
  color: var(--color-title);
  font-size: 30px;
  font-weight: 600;
}
.blog-item__text {
  flex: 1 1 auto;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 45px;
}
.blog-item__btn {
  max-width: 271px;
  width: 100%;
  min-height: 53px;
}
.decbase-btn {
}
.blog-item__button {
}
/* ---MEDIA--- */
@media (min-width: 1920px) {
  .project__pattern {
    display: block;
    position: absolute;
    left: calc(-213px + -51px);
    bottom: -76.55px;
    width: 213px;
    height: 154px;
  }
}
@media (max-width: 1374px) {
  /* ---SECTION PROJECT--- */
  .project-info__title {
    font-size: calc(39px + (72 - 39) * ((100vw - 320px) / (1375 - 320)));
  }
  .project-img {
    height: calc(420px + (626 - 420) * ((100vw - 320px) / (1375 - 320)));
    border-radius: calc(30px + (140 - 30) * ((100vw - 320px) / (1374 - 320))) 0;
    margin-right: calc((11px + (34 - 11) * ((100vw - 320px) / (1374 - 320))));
  }
  .project-img::before {
    top: calc((10px + (33 - 10) * ((100vw - 320px) / (1374 - 320))));
    left: calc((11px + (34 - 11) * ((100vw - 320px) / (1374 - 320))));
  }
  /* ---SWIPER SLIDER---*/
  .service__swiper-slide {
    border-radius: calc(30px + (60 - 30) * ((100vw - 320px) / (1374 - 320))) 0;
  }
  /* --- SECTION ABOUT --- */
  .about {
    gap: calc(10px + (93 - 10) * ((100vw - 320px) / (1374 - 320)));
  }
  .about-img {
    border-radius: calc(30px + (140 - 30) * ((100vw - 320px) / (1374 - 320))) 0;
    height: calc(420px + (726 - 420) * ((100vw - 320px) / (1375 - 320)));
    margin-left: calc((12px + (36 - 12) * ((100vw - 320px) / (1374 - 320))));
  }
  .about-img::before {
    bottom: calc((10px + (32 - 10) * ((100vw - 320px) / (1374 - 320))));
    right: calc((12px + (36 - 12) * ((100vw - 320px) / (1374 - 320))));
  }
  /* ---SECTION MARKET--- */
  .market {
    gap: calc(10px + (103 - 10) * ((100vw - 320px) / (1374 - 320)));
  }
  .market-img {
    border-radius: calc(30px + (140 - 30) * ((100vw - 320px) / (1374 - 320))) 0;
    height: calc(420px + (726 - 420) * ((100vw - 320px) / (1375 - 320)));
    margin-right: calc((10px + (31 - 10) * ((100vw - 320px) / (1374 - 320))));
  }
  .market-img::before {
    top: calc(8px + (28 - 8) * ((100vw - 320px) / (1374 - 320)));
    left: calc(10px + (31 - 10) * ((100vw - 320px) / (1374 - 320)));
  }
  /* ---SECTION WORK--- */
  .work-info__item_line {
    display: none;
  }
  .work-block__title {
    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1374 - 320)));
  }
  /* ---SECTION BLOG--- */
  .blog-item__img {
    border-radius: calc(20px + (100 - 20) * ((100vw - 320px) / (1374 - 320))) 0;
  }
  .blog__items {
    column-gap: calc(20px + (153 - 20) * ((100vw - 320px) / (1374 - 320)));
  }
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .work-info {
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .work-info__item {
    align-self: center;
  }
  .blog__items {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  /* ---MENU--- */
  .header-nav {
    order: 3;
  }
  .header__btn {
    margin-right: 60px;
  }
  .nav-menu {
    display: none;
  }
  .menu-burger {
  }
  .menu-burger label {
    position: absolute;
    z-index: 100;
    right: 30px;
    top: 30px;
    width: 35px;
    height: 35px;
  }
  .menu-burger span {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background: var(--bg-more);
    transition: all ease-in-out 0.28s;
  }
  .menu-burger label::after,
  .menu-burger label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--bg-more);
    transition: all ease-in-out 0.28s;
  }
  .menu-burger label::after {
    top: 0;
    left: 0;
  }
  .menu-burger label::before {
    bottom: 0;
    left: 0;
  }
  #menu:checked ~ label span {
    display: none;
  }
  #menu:checked ~ label::after,
  #menu:checked ~ label::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
    background: var(--color-more);
  }
  #menu:checked ~ label::after {
    transform: rotate(45deg);
  }
  #menu:checked ~ ul.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    row-gap: 30px;
    position: absolute;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-right: 90px;
    overflow-y: scroll;
    background: var(--bg-more);
    font-size: 35px;
    font-weight: 700;
    color: var(--color-more);
  }
  .nav-menu__link:hover:before {
    display: none;
  }
  /* ---SECTION PROJECT--- */
  .project {
    flex-wrap: wrap;
  }
  /* ---SECTION ABOUT--- */
  .about {
    flex-wrap: wrap;
  }
  /* ---SECTION MARKET--- */
  .market {
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .header {
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
/* 
@media screen and (width < 576px) {
} */

/* ---------------------------[ */

.swiper2 {
  width: 100%;
  height: 300px;
}

.new-slide {
  height: 150px;
  /* width: 500px; */
  background: #b0855b;
}
